:root {
    --primary-color: #0C4DA2;
    --secondary-color: #FFD700;
    --font-size: 20px;
    --font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: var(--primary-color);
}

header h1 {
    color: var(--secondary-color);
    font-size: 28px;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
}

.formulaire {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #00000028;
    max-width: 600px;
    margin: 20px auto;
}

.formulaire h2 {
    font-size: 28px;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

footer {
    background-color: var(--primary-color);
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

footer img:hover {
    transform: scale(1.2);
}

input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="date"]:hover, input[type="number"]:hover {
    border-color: #1F7BBF;
}
